<nav class="navbar navbar-light bg-light justify-content-between navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/episodes">Episodes</a>
      </li>
    </ul>
  </div>
  <div class="form-inline d-flex">
    <app-search-bar></app-search-bar>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

